</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
{% for js in page.javascript %}
  <script type="text/javascript" src="{{ js }}"></script>
{% endfor %}

<script src="/js/site.js"></script>
</html>

