<!DOCTYPE html>
<html>
  <!--<![endif]--><!-- the "no-js" class is for Modernizr. -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="title" content="Prestbury Upholstery - {{ page.title }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="Copyright" content="{{ site.copyright }}">
    <title>Prestbury Upholstery - {{ page.title }}</title>

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">

    {% for css in page.optional_css %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}

    <!-- all our JS is at the bottom of the page, except for Modernizr. -->
    <script src="/js/modernizr-1.7.min.js"></script>
  </head>
