---
---
@import "gridle/gridle";

$settings : (
    context : 12,           // number of columns in your grid
    column-width : null,    // by default it's percentage based depending on the context but you can specify a column width yourself
    gutter-width : 20px,    // size of the gutters
    gutter-height : 0,      // size of top and bottom gutters
    gutter-top    : 0,      // size of top gutter
    gutter-bottom : 0,      // size of bottom gutter
    gutter-left   : 10px,   // size of left gutter
    gutter-right  : 10px,   // size of right gutter
    direction : ltr,        // direction
    dir-attribute : false,  // if need to generate support for dir="rtl" in order to set part of layout direction
    states-classes : false, // if we need to generate the states classes
    name-multiplicator : 1, // if 5, generate gr-5, gr-10, etc...
    classes-prefix : ''     // the prefix used for all classes
);

@include gridle_setup($settings);

body {
    @include gridle_container();
    max-width: 1200px;
}

main {
    @include gridle_grid(12);
}

#enquiry-form {
    @include gridle_grid(6);
}

#contact-details {
    @include gridle_grid(6);
}

main article iframe {
    @include gridle_grid(12);
    height: 20rem;
    margin-bottom: 1rem;
}
