{% include head.html %}
  <body class="home page page-id-4 page-template-default" data-gr-c-s-loaded="true">
    {% include header.html %}
    <div id="body-wrap">
      <div id="page-wrap" class="clearfix">
	<section class="slider" style="position: relative; height: 374px;">
	  <img src="/img/prestburyslider11.jpg" alt="/assets/2012/08/prestburyslider11.jpg">
	  <img src="/img/prestburyslider2.jpg" alt="/assets/2012/08/prestburyslider2.jpg">
	  <img src="/img/Web-960x374-P1-i3.jpg" alt="/assets/2012/08/Web-960x374-P1-i3.jpg">
	  <img src="/img/Chair-Banner-4.jpg" alt="/assets/2012/08/Chair-Banner-4.jpg">
	  <img src="/img/Web-960x374-P1-i4.jpg" alt="/assets/2012/08/Web-960x374-P1-i4.jpg">
	  <img src="/img/prestburyslider6.jpg" alt="/assets/2012/08/prestburyslider6.jpg">
	  <img src="/img/prestburyslider7.jpg" alt="/assets/2012/08/prestburyslider7.jpg">
	</section>
      </div>
      <div class="tri_box clearfix">
	<div class="box_wrap clearfix">
	  <a href="/fabrics/">
	    <img src="img/fabrics.jpg" alt="" width="300" height="72" scale="0">
	    <h2>Fabrics</h2>
	  </a>
	  <a href="/rugs/">
	    <img src="img/carpets.jpg" alt="" width="300" height="72" scale="0">
	    <h2>Rugs,wallpapers and paints</h2>
	  </a>
	  <a href="/bespoke-service-what-we-do/reupholstery-service/">
	    <img src="img/upholstery.jpg" alt="" width="300" height="72" scale="0">
	    <h2>Reupholstery</h2>
	  </a>
	</div>
	<div class="gradient-base"></div>
      </div>
      <div id="footer-extended" class="clearfix">
	<div id="centered_banner" class="two_third">
	  <img src="img/Prestbury-upholstery-banner1.jpg" alt="" scale="0">
	</div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="bluebar">
      <p>
	T: {{ site.contact.phone }}
	E: <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a><br>
	{{ site.contact.address }}
      </p>
    </div>
    <div class="w_960">
      <small>©2017 Prestbury Upholstery. All Rights Reserved.</small>
      <nav id="footer-nav">
	<div class="menu-footer-navigation-container">
	  <ul id="menu-footer-navigation" class="menu">
	    <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213">
	      <a href="/sitemap/">Sitemap</a>
	    </li>
	    <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214">
	      <a href="/privacy-policy/">Privacy Policy</a>
	    </li>
	    <li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215">
	      <a href="/terms-conditions/">Terms &amp; Conditions</a>
	    </li>
	  </ul>
	</div>
      </nav>
    </div>
  </footer>
{% include foot.html %}
